*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body{
  background-color: rgb(41, 42, 46);
  font-family: 'Saira Semi Condensed';
}

.hero-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/keyboard.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  background-size: cover;
  display: grid;
  grid: center;
  align-content: center;
  width: 100%;
}

/* Profile Links */

.links-top{
  position: absolute;
  font-size: 3rem;
  color: white;
  top: 1rem;
  right: 1rem;
}

.links-top a{
  padding: 0.5rem;
  margin: 0;
}

.github, .linkedin, .lni-github-original:link, .lni-linkedin-original:link{
font-size: 3rem;
color: white;
}
.github, .linkedin, .lni-github-original:visited, .lni-linkedin-original:visited{
  font-size: 3rem;
  color: white;
}
.github, .linkedin, .lni-github-original:hover, .lni-linkedin-original:hover{
cursor: pointer;
transform: scale(1.2);
}
.github, .linkedin, .lni-github-original:active, .lni-linkedin-original:active{
  font-size: 3rem;
  color: white;
}

/* hero text */

.hero-text{
  text-align: center;
  color: white;
  font-size: 4rem;
}

.hero-text h1{
  font-size: 5rem;
  padding: 5rem;
}

.hero-text p{
  padding-bottom: 5rem;
}

.hero-text button{
  font-size: 2rem;
  font-family: 'Saira Semi Condensed';
  color: white;
  background-color: black;
  outline: none;
  border: solid white;
  padding: 1rem 2rem;
}

.hero-text button:hover{
  transform: scale(1.05);
  cursor: pointer;
}


/* About me section */

.about-me{
text-align: center;
color: white;
padding: 5rem 2rem;
font-size: 3rem;
width: 100%;
}

.about-me h2{
  padding: 2rem;
  font-weight: bold;
  font-size: 1.2em;
}

.about-me p{
  padding: 1rem;
}


/* Portfolio section */

.portfolio{
  background-color: black;
  color: white;
}
.portfolio h2{
  padding: 2rem;
  font-weight: bold;
  font-size: 3rem;
  text-align: left;
  display: block;
}

.portfolio-grid{
  border: solid red;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
}

.portfolio-grid div{
  min-height: 30vh;
  width: 12rem;
  border: blue solid;
  margin: 0.2rem;
  font-size: 20px;
}


/* Contact me section */

.contact{
  background-color: grey;
}

.contact h2{
  padding: 2rem;
  font-weight: bold;
  font-size: 3rem;
  text-align: left;
  display: block;
}
.contact-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 10vh;
}
.contact-links{
  display: flex;
  flex-direction: column;
}


