*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body{
  background-color: rgb(41, 42, 46);
  font-family: 'Saira Semi Condensed';
}

.hero-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/keyboard.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  background-size: cover;
  display: grid;
  align-content: center;
  width: 100%;
}

a{
  text-decoration: none;
}

/* Profile Links */

.links-top{
  position: absolute;
  font-size: 3rem;
  color: white;
  top: 1rem;
  right: 1rem;
}

.links-top a{
  padding: 0.5rem;
  margin: 0;
}

.github, .linkedin, .lni-github-original:link, .lni-linkedin-original:link{
font-size: 3rem;
color: white;
}
.github, .linkedin, .lni-github-original:visited, .lni-linkedin-original:visited{
  font-size: 3rem;
  color: white;
}
.github, .linkedin, .lni-github-original:hover, .lni-linkedin-original:hover{
cursor: pointer;
transform: scale(1.2);
}
.github, .linkedin, .lni-github-original:active, .lni-linkedin-original:active{
  font-size: 3rem;
  color: white;
}

/* hero text */

.hero-text{
  text-align: center;
  color: white;
  font-size: 4rem;
}

.hero-text h1{
  font-size: 5rem;
  padding: 5rem;
}

.hero-text p{
  padding-bottom: 5rem;
}

.hero-text button{
  font-size: 2rem;
  font-family: 'Saira Semi Condensed';
  color: white;
  background-color: black;
  outline: none;
  border: solid white;
  padding: 1rem 2rem;
}

.hero-text button:hover{
  transform: scale(1.05);
  cursor: pointer;
}


/* About me section */

.about-me{
text-align: center;
color: white;
padding: 5rem 2rem;
font-size: 3rem;
width: 100%;
}

.about-me h2{
  padding: 2rem;
  font-weight: bold;
  font-size: 1.2em;
}

.about-me p{
  padding: 1rem;
}


/* Portfolio section */

.portfolio{
  background-color: black;
  color: white;
}
.portfolio h2{
  padding: 2rem;
  font-weight: bold;
  font-size: 3rem;
  text-align: left;
  display: block;
}

.portfolio-grid{
  border: solid red;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
}

.portfolio-grid div{
  height: 30vh;
  width: 11rem;
  border: blue solid;
  margin: 1rem 0.2rem;
  font-size: 20px;
}


/* Contact me section */

    /* links */

.contact{
  background-color: grey;
}

.contact h2{
  padding: 2rem;
  font-weight: bold;
  font-size: 3rem;
  text-align: left;
  display: block;
}

.contact-flex{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 10vh;
}

.contact-links{
  display: flex;
  flex-direction: column;

}

.contact-links{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-links div{
  display: flex;
  justify-content: flex-start;
  width: 50%;
}

.contact-links p{
color: white;
font-size: 2rem;
padding: 1rem;
text-align: left;
}

.contact-links a{
padding: 1rem;
}

    /* form */

.contact-form {
  width: auto;
  font-size: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
}

.contact-form label{
  font-size: 2rem;
}









/* desktop view */
@media screen and (min-width: 600px){
    .portfolio-grid div{
      width: 20rem;
      min-height: 45vh;
  }

  .portfolio-grid{
    margin: 0 5vw;
  }

  }

  @media screen and (max-height: 450px){
    .hero-text h1 {
      padding: 2.5rem;
    }

    .hero-text p{
      padding-bottom: 3rem;
    }
  }
